.Card {
    max-width: 100%;
    background: blue;
    .CardContent{
        width: 100%;
        .photo {
            width: 40%;
        }
        .contact {
            width: 60%
            
        }
    }
}
