@media (min-width: 1024px) {
  .hexagons > div:nth-child(7n + 1),
  .hexagons > div:nth-child(7n + 2),
  .hexagons > div:nth-child(7n + 6),
  .hexagons > div:nth-child(7n + 7) {
    grid-column: span 3;
  }

  .hexagons > div:nth-child(7n + 3),
  .hexagons > div:nth-child(7n + 4),
  .hexagons > div:nth-child(7n + 5) {
    grid-column: span 2;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .hexagons > div {
    grid-column: span 2;
  }

  .hexagons > div:last-child:nth-child(odd) {
    grid-column: 2 / span 2;
  }
}
