.hexagon {
    justify-items: center;
    max-width: 100vw;


}
@media (min-width: 1024px) {
    .hexagon {
        grid-template-columns:repeat(3, minmax(0, 1fr));
        
    }
    .hexagon > div:first-child{
        grid-column: span 3;
    }

}


