@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;

    --primary-50: 240, 20%, 92%;
    --primary-100: 237, 21%, 80%;
    --primary-200: 238, 20%, 67%;
    --primary-300: 237, 20%, 54%;
    --primary-400: 237, 26%, 44%;
    --primary-500: 237, 40%, 34%;
    --primary-600: 238, 41%, 31%;
    --primary-700: 237, 45%, 28%;
    --primary-800: 238, 47%, 25%;
    --primary-900: 239, 55%, 18%;
    --primary-A100: 239, 100%, 76%;
    --primary-A200: 239, 100%, 66%;
    --primary-A400: 239, 100%, 56%;
    --primary-A700: 239, 100%, 51%;

    --secondary-50: 328, 38%, 92%;
    --secondary-100: 327, 37%, 81%;
    --secondary-200: 326, 36%, 68%;
    --secondary-300: 327, 36%, 55%;
    --secondary-400: 326, 44%, 45%;
    --secondary-500: 327, 65%, 36%;
    --secondary-600: 328, 67%, 34%;
    --secondary-700: 329, 69%, 31%;
    --secondary-800: 330, 73%, 28%;
    --secondary-900: 334, 81%, 23%;
    --secondary-A100: 337, 100%, 80%;
    --secondary-A200: 337, 100%, 70%;
    --secondary-A400: 337, 100%, 60%;
    --secondary-A700: 337, 100%, 55%;

    --accent-50: 11, 92%, 95%;
    --accent-100: 11, 93%, 88%;
    --accent-200: 10, 94%, 81%;
    --accent-300: 10, 93%, 73%;
    --accent-400: 10, 93%, 67%;
    --accent-500: 10, 93%, 61%;
    --accent-600: 9, 92%, 60%;
    --accent-700: 8, 92%, 58%;
    --accent-800: 7, 91%, 56%;
    --accent-900: 6, 90%, 53%;
    --accent-A100: 0, 0%, 100%;
    --accent-A200: 5, 100%, 98%;
    --accent-A400: 5, 100%, 88%;
    --accent-A700: 5, 100%, 83%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.show-more {
  color: white !important;
}
